{% extends "base.html" %}

{% block content %}
<h1>Menu</h1>

<h2>Sections</h2>
<ul class="table">
    <li><a href="#main" class="chapter">Main Dishes</a></li>
    <li><a href="#desserts" class="chapter">Desserts</a></li>
</ul>

<br>
<hr>
<h2 id="main">Main Dishes</h2>
<div class="item" id="Stewed-Beef-with-Vegetables">
    <img src="{{ url_for('static', filename='beef_potato_carrots.png') }}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Stewed Beef with Vegetables</h3>
        <h3>土豆炖牛肉</h3>
        <p>Secret sauce over stewed beef mixed with carrots and potatoes simmered until tender and soft. Garnished with green onions.</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Stewed-Beef-with-Vegetables') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Stir-Fry-Chicken-with-Cucumber">
    <img src="{{url_for('static', filename='cucumber_chicken.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Stir Fry Chicken with Cucumber</h3>
        <h3>黄瓜炒鸡丁</h3>
        <p>Bite sized chicken and cucumber with secret house sauce.</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Stir-Fry-Chicken-with-Cucumber') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Curry">
    <img src="{{url_for('static', filename='curry.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Curry</h3>
        <h3>嘎日牛肉饭</h3>
        <p>Beef marinaded with special sauce and vegetables, such as potatoes and carrots, mixed with curry powder. Served with rice.</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Curry') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Stir-Fried-Cabbage-with-Egg">
    <img src="{{ url_for('static', filename='cabbage_egg.png') }}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Stir Fried Cabbage with Egg</h3>
        <h3>鸡蛋草卷心菜</h3>
        <p>Fried garlic and cabbage with eggs.</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Stir-Fried-Cabbage-with-Egg') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Healthy-Stir-Fried-Shrimp">
    <img src="{{ url_for('static', filename='shrimp_broccoli_carrots.png') }}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Healthy Stir Fried Shrimp</h3>
        <h3>西蓝花炒虾仁</h3>
        <p>Marinaded shrimp fried with garlic, green onions, and ginger. Mixed with carrots and broccoli.</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Healthy-Stir-Fried-Shrimp') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Gyudon">
    <img src="{{url_for('static', filename='gyudon.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Gyudon</h3>
        <h3>秘制肥牛饭</h3>
        <p>Fat sliced beef with onions and special house sauce over rice, topped with a sunny side up egg.</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Gyudon') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Chicken-Wings">
    <img src="{{url_for('static', filename='chicken_wings.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Chicken Wings</h3>
        <h3>蜜汁鸡翅</h3>
        <p>Marinaded chicken wings and drumsticks fried with sweet sauce.</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Chicken-Wings') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<hr>
<h2 id="desserts">Desserts</h2>

<div class="item" id="Banana-Pancakes">
    <img src="{{url_for('static', filename='banana_pancakes.jpeg')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Banana Pancakes</h3>
        <h3>香蕉饼</h3>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Banana-Pancakes') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Cream-Cheese-Bun">
    <img src="{{url_for('static', filename='cream_cheese.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Cream Cheese Bun</h3>
        <h3>奶酪面包</h3>
        <p>Bread with cream cheese mixture inside.</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Cream-Cheese-Bun') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Pumpkin-or-Sweet-Potato-Pancakes">
    <img src="{{url_for('static', filename='pumpkin_pancakes.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Pumpkin or Sweet Potato Pancakes</h3>
        <h3>南瓜饼、 红薯糯米饼</h3>
        <p>Glutinous pancakes either made with pumpkin or sweet potato.</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Pumpkin-or-Sweet-Potato-Pancakes') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>


{% endblock%}