{% extends "base.html" %}

{% block content %}
<h1>Menu</h1>

<h2>Sections</h2>
<ul class="table">
    <li><a href="#main" class="chapter">Main Dishes</a></li>
    <li><a href="#desserts" class="chapter">Desserts</a></li>
</ul>

<br>
<hr>
<h2 id="main">Main Dishes</h2>
<div class="item" id="Stewed-Beef-with-Vegetables">
    <img src="{{ url_for('static', filename='beef_potato_carrots.png') }}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Stewed Beef with Vegetables</h3>
        <h3>土豆炖牛肉</h3>
        <p>Secret sauce over stewed beef mixed with carrots and potatoes simmered until tender and soft. Garnished with green onions.</p>
        <p>香嫩的牛肉与浓郁的秘制酱汁 和土豆和红萝卜炖至软烂 撒满葱花</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Stewed-Beef-with-Vegetables') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Stir-Fry-Chicken-with-Cucumber">
    <img src="{{url_for('static', filename='cucumber_chicken.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Stir Fry Chicken with Seasonal Vegetables</h3>
        <h3>蔬菜炒鸡丁</h3>
        <p>Bite sized chicken and cucumber/broccoli with secret house sauce.</p>
        <p>鸡胸肉丁用秘制酱汁腌制 与蒜末黄瓜西蓝花红萝卜炒香</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Stir-Fry-Chicken-with-Cucumber') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Curry">
    <img src="{{url_for('static', filename='curry.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Curry</h3>
        <h3>咖喱牛肉饭</h3>
        <p>Special sauce over beef with vegetables, such as potatoes and carrots, mixed with curry powder. Served with rice.</p>
        <p>牛肉上的特制酱汁 配以土豆和胡萝卜等蔬菜 与咖喱粉混合 配米饭</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Curry') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Stir-Fried-Cabbage-with-Egg">
    <img src="{{ url_for('static', filename='cabbage_egg.png') }}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Stir Fried Cabbage with Egg</h3>
        <h3>鸡蛋草卷心菜</h3>
        <p>Sautéed cabbage with eggs and oyster sauce.</p>
        <p>蚝油蒜蓉抄包菜与蛋</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Stir-Fried-Cabbage-with-Egg') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Healthy-Stir-Fried-Shrimp">
    <img src="{{ url_for('static', filename='shrimp_broccoli_carrots.png') }}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Healthy Stir Fried Shrimp</h3>
        <h3>西蓝花炒虾仁</h3>
        <p>Marinated shrimp fried with garlic, green onions, and ginger. Mixed with carrots and broccoli.</p>
        <p>用蒜蓉 葱和姜炒的腌制虾 与胡萝卜和西兰花混合</p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Healthy-Stir-Fried-Shrimp') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Gyudon">
    <img src="{{url_for('static', filename='gyudon.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Gyudon</h3>
        <h3>秘制肥牛饭</h3>
        <p>Fat sliced beef with onions and special house sauce over rice, topped with a sunny side up egg.</p>
        <p>肥牛肉片配洋葱和特制的酱汁浇在米饭上 配上溏心蛋/p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Gyudon') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Chicken-Wings">
    <img src="{{url_for('static', filename='chicken_wings.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Chicken Wings (8pcs)</h3>
        <h3>蜜汁鸡翅</h3>
        <p>Marinated chicken wings and drumsticks fried with sweet sauce.</p>
        <p></p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Chicken-Wings') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<hr>
<h2 id="desserts">Desserts</h2>

<div class="item" id="Banana-Pancakes">
    <img src="{{url_for('static', filename='banana_pancakes.jpeg')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Banana Pancakes</h3>
        <h3>香蕉饼</h3>
        <p>Golden brown pancakes made with ripened bananas. Available in different shapes per request.</p>
        <p></p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Banana-Pancakes') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Cream-Cheese-Bun">
    <img src="{{url_for('static', filename='cream_cheese.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Cream Cheese Bun (6pcs)</h3>
        <h3>奶酪面包</h3>
        <p>Bread with cream cheese mixture inside.</p>
        <p></p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Cream-Cheese-Bun') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>

<div class="item" id="Pumpkin-or-Sweet-Potato-Pancakes">
    <img src="{{url_for('static', filename='pumpkin_pancakes.png')}}" style="width:40%; height:40%;"/>
    <div class="desc" id="desc">
        <h3>Sweet Potato Pancakes (9pcs)</h3>
        <h3>南瓜饼、 红薯糯米饼</h3>
        <p>Glutinous pancakes either made with sweet potato</p>
        <p></p>
        <p><b>Cost:</b> Coupon x1</p>
        <a id="order_button" href="{{ url_for('order', dish='Pumpkin-or-Sweet-Potato-Pancakes') }}"><button type="button" class="order_button">Order now!</button></a>
    </div>
</div>
<br>


{% endblock%}